body, html {
    font-family: 'Roboto', sans-serif;
}

.carousel-item {
    height: 500px;
}
.btn-modif {
    border: none;
    background-color: inherit;
    font-weight: 500;
    text-transform: uppercase;
}
.btn-modif:hover {
    text-decoration: underline; 
    color: #7971ea;
}

.img-slider {
    width: 100%;
    height: auto;
    background-size:cover;
    background-position: center bottom;
}

.buttonModalCart {
    width: 200px;
    height: 40px;
}
