body, html {
    font-family: 'Roboto', sans-serif;
}

.carousel-item {
    height: 450px;
}
.btn-modif {
    border: none;
    background-color: inherit;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
}
.btn-modif:hover {
    text-decoration: underline; 
    color: #7971ea;
}

.img-slider {
    width: 100%;
    height: auto;
    background-size:cover;
    background-position: center bottom;
}

.buttonModalCart {
    width: 200px;
    height: 40px;
}
a.getinfo  {
    background-color: #7971ea;
    color: white;
}
.card-footer{
    background-color:white;
}
.alignText {
    line-height: 38px;
    color: black;
}
.paddingcard {
    padding: 20px 0px;
}

.shadowwww {
    transition: all 0.5s;
}
.shadowwww:hover {
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);

}
footer {
    background-color: whitesmoke;
    border-top: solid 1px rgb(202, 202, 202);
}

@media screen and (max-width: 1200px) {  
    #carouselExampleCaptions {
        display: none;
    }
}

@media screen and (max-width: 768px) {  
  
    .shadowwww:hover {
       
        box-shadow: none;
    
    }
}
